h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    -webkit-user-select: none;
    color: white;
    background-color: #6f8eb6;
    
}

#all{
  display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-button{
    width: 1px;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.product{
    
    width: 260px;
    height: 320px;
    background-color: #f1f1f14d;
    display: inline-block;
    margin: 2%;
    transition: all 1s ease;
    border-radius: 3%;
    position: relative;
}

.product img{
  
  position: absolute;
  height: 200px;
  left: 30px;
  top: 30px;
  transform: translateY(50px);
  transition: all 1s ease;
}

.product input{
  opacity: 0;
  transform: scale(0);
  position: absolute;
  width: 24px;
  top: 240px;
  height: 30px;
  left: 225px;
  transition: all 1s ease;
  border-radius: 20%;
}

#pc3{
  height: 150px;
}
#pc4{
  height: 180px;
}
#pc5{
  height: 180px;
}

.product button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 230px;
  left: 20px;
  transition: all 1s ease;
  opacity: 0;
  transform: scale(0);
  border: 0;
  background-color: rebeccapurple;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 10%;
  }

.product:hover{
    background-color: darkslategray;
    cursor: pointer;
    
}

.product:hover img{
  transform: scale(1.1);
  
}


.product:hover button{
  opacity: 1;
  transform: scale(1);
  
}

.product button:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgba(102, 51, 153, 0.519);
}

.product:hover input{
  opacity: 1;
  transform: scale(1);
}




#searchbar input{
  position: relative;
  left: 500px;
  width: 200px;
  height: 20px;
  border-radius: 10%;
}

#searchbar img{
  position: relative;
  left: 500px;
  top: 7px;
  height: 25px;
  border-radius: 10%;
}

#searchbar img:hover{
 cursor: pointer;
}

#product{
  
  width: 600px;
  height: 600px;
  border: 1px solid black;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  position: relative;
  top: 30px;
  left: 25%;
  background-color: rgba(136, 136, 136, 0.296);
}

#product button{
  border: 0;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 28%;
  top: 50%;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  background: green;
  color: white;
  transition: all 1s ease;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#product button:hover{
  background: rgba(0, 128, 0, 0.453);
  cursor: pointer;
}



div img{
  height: 200px;
  position: relative;
  left: 33%;
  top: 20px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}