header{
    height: 200px;
    border: 1px solid black;
    margin-bottom: 1%;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #6f8eb6;
}

header img{
  position: absolute;
  height: 200px;
  left: 45%;
  transition: all 1s ease;
}

header img:hover{
  transform: scale(1.2);
}
body{
    -webkit-user-select: none;
    background-color: #1B2430;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-button{
    width: 1px;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


nav{
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 300px;
    height: 800px;
    border: 1px solid black;
    float: left;
    margin-right: 0.2%;
    background-color: #6f8eb6;
}

nav a {
    
   display: inline-block;
   margin-top: 50%;
   margin-left: 30%;
   background-color: beige;
   text-decoration: none;
   width: 100px;
   text-align: center;
   height: 30px;
   border-radius: 20%;
   transition: all 1s ease;
   color: black;
    
}

nav a:hover{
    
    background-color: rgb(105, 79, 79);
    color: wh;
     
 }

section{
    width: 1300px;
    height: 800px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    border-radius: 3%;
    
}

section iframe{
    position: absolute;
    border: 0;
    border-radius: 3%;
}

aside{
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #6f8eb6;
    width: 270px;
    height: 800px;
    border: 1px solid black;
    display: inline-block;
}