header{
    height: 200px;
    border: 1px solid black;
    margin-bottom: 1%;
}
body{
    -webkit-user-select: none;
    background-color: #1B2430;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-button{
    width: 1px;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


nav{
    width: 300px;
    height: 800px;
    border: 1px solid black;
    float: left;
    margin-right: 0.2%;
}

nav a {
    
   display: inline-block;
   margin-top: 20%;
   margin-left: 30%;
   background-color: beige;
   text-decoration: none;
   width: 100px;
   text-align: center;
   height: 30px;
   border-radius: 20%;
   transition: all 1s ease;
   color: black;
    
}

nav a:hover{
    
    background-color: rgb(105, 79, 79);
    color: wh;
     
 }

section{
    width: 1300px;
    height: 800px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

section iframe{
    position: absolute;
    border: 0;
}

aside{
    width: 270px;
    height: 800px;
    border: 1px solid black;
    display: inline-block;
}